<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MJ_GLOBAL-STORE</title>
    <!-- link css file -->
   {% load static %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">

    <!-- form html  -->
    <form method="post">
        {% csrf_token %}

        <label>Name:</label><br>
        <input type="text" name="username" placeholder="Enter your Full Name" required><br>

        <label>Password:</label><br>
        <input type="password" name="password" placeholder="Type Password" required><br>

        <label>Email:</label><br>
        <input type="email" name="email" placeholder="Enter Email" required><br><br>

        <label>Please give your feedback</label>
        <input type="text" name="feedback" placeholder="Give your  valueable feedback hare!">

        <button type="submit">Submit</button>
    </form>
</body>
</html>
